@font-face {
    font-family: "Saker";
    src: url(SakerSansMediumPersonalUse-7RAl.ttf);
}

body {background-color: #f00fff;}
h1 {
    color:#ffffff;
    font-family: 'Arial';
    text-align: center;
 
    }
h2 {
        color:#ffffff;
        font-family: 'Arial';
        text-align: center;
     
        }
.gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rick-drooling {
    width: 20%;
}

a {
    color:#000;
        font-family: Saker;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-decoration-line: none;
        background-color: rgb(200, 200, 200);
        border-radius: 10px;
        width: 15%;
        padding: 1%;
        
}