@font-face {
    font-family: "Saker";
    src: url(SakerSansMediumPersonalUse-7RAl.ttf);
}

body {
    background-color: #ff00ff;
}
h1 {
    color:#ffffff;
    font-family: 'Arial';
    text-align: center;
 
    }
h2 {
        color:#ffffff;
        font-family: 'Arial';
        text-align: center;
     
        }
.gif {
    display: block;
    margin: auto;
    max-width: 50vh;
    max-height: 50vh;
}

a {
    color:#000;
        font-family: Saker;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-decoration-line: none;
        background-color: rgb(200, 200, 200);
        border-radius: 10px;
        width: 15%;
        padding: 1%;
        
}
div {
    display: block;
    margin: 50px;
}

.zart {
    background-color: antiquewhite;
    width: 50vh;
    height: 50vh;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
